<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>About</title>
    <style media="screen">
    .jumbotron{
      margin-top: 0px;
      margin-bottom: 0px;
    }
    .jumbotron h1{
      text-align: center;
    }
    .alert{
      margin: 0px;
    }
    .head1
    {
       color: black;
       background-color: Teal;
       font-size: 50px;
    }
    /*--------------navbar---------*/
    .bs-example{
        margin: 0px;
    }
.navbar-brand{
  font-size: 20px;
  font-family: sans-serif;
}
.search-box {
  position: relative;
}
.search-box input.form-control {
  padding-right: 35px;
  border-radius: 0;
  padding-left: 0;
  border-width: 0 0 1px 0;
  box-shadow: none;
}
.search-box input.form-control:focus {
  border-color: #f08373;
}
.search-box .input-group-text {
  min-width: 35px;
  border: none;
  background: transparent;
  position: absolute;
  right: 0;
  z-index: 9;
  padding: 7px 0 7px 7px;
  height: 100%;
}
.search-box i {
  color: #a0a5b1;
  font-size: 19px;
}
/*------------------footer---------------*/
footer {
    padding: 0px 0px 0px 0px;
    background-color:black;
    margin:0px;
}
.fa {
  padding: 20px;
  font-size: 23px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.5;
    text-decoration: none;
}
.fa-facebook {
  background: #3B5998;
  color: white;
margin-top: 30px;
}
.fa-whatsapp {
  background: #25d366;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}

p{text-align:center;

}
    </style>

    <title></title>
  </head>
  <body>
<!---------navbar------------>
<div class="bs-example">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
        <a href="/" class="navbar-brand">SOIL PRISM</a>
        <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/" class="nav-item nav-link active">Home</a>
                <a href="/soiltesting" class="nav-item nav-link">Soil Testing</a>
                <a href="/studentclick" class="nav-item nav-link"></a>

            </div>

            <div class="navbar-nav">
                <a href="/aboutus" class="nav-item nav-link">Cultivation Methods</a>
                <div class="navbar-nav ml-auto">
      <div class="navbar-form-wrapper">
        <form class="navbar-form form-inline">
          <div class="input-group search-box">
            <input type="text" id="search" class="form-control" placeholder="Search Here...">
            <div class="input-group-append">
              <span class="input-group-text">
                <i class="material-icons">&#xE8B6;</i>
              </span>
            </div>
          </div>
        </form>
        </div>
                </div>
            </div>
        </div>
    </nav>
</div>
<!--------------cultivation---------------->
<br><br><br><br>
<center><h3 class = 'head1' >Soil Cultivation Methods</h3></center>
    <div class="jumbotron">
  <h1 class="display-4">Soil Cultivation</h1>
  <p class="lead">
Soil cultivation is any process that re-arranges the soil by using some activity. For farmers, cultivation typically means running a tractor over their field with a plow or disc to break up the soil's surface. This is done prior to planting.

In the landscape, garden or lawn, we do the same thing. For small gardens this is usually done by hand with a shovel or fork. For larger areas a roto-tiller may be used. For lawns, an aerator is the best tool.

Care has to be taken not to over-cultivate the soil. Several bad things happen when we over-cultivate. Cultivation disrupts the soils natural structure. Extreme cultivation as is done with a roto-tiller, pulverizes the soil's structure in such a way that it may become even more compacted in a short period of time. Cultivation also brings weed seeds to the surface that may become a problem. Extreme cultivation also destroys earthworm populations.</p>
  <h1 class="display-4">Reason for cultivation</h1>
  <p class="lead">Soils under adverse conditions may become compacted, that is, the soil loses its structure. The little pockets of air beneath the surface are squeezed together. Water and nutrients no longer move through the soil. It becomes more difficult for roots to grow.

Ideally, when we cultivate the soil, additional soil amendments should be added and incorporated into the cultivated soil. This will help keep the soil healthy and loose and less likely to become compacted as quickly if no additional amendments are added.
</p>
      <h1 class="display-4">Aerating lawns is one way to cultivate</h1>
  <p class="lead">When the soil underneath your lawn becomes compacted, it reduces root growth as well as the grasses' recuperative ability, thus increasing a lawn's relative susceptibility to diseases.

Aeration improves shoot and root growth and recuperative ability, and decrease the likelihood of disease and insect damage.

Thatch is a partially decomposed layer comprised of roots, stems, rhizomes, crowns, and stolons situated above the soil surface. Up to a 1-1/2" layer of thatch is beneficial and provides insulation to roots, reduces soil water evaporation, cushions playing surfaces, and may prevent soil compaction. However, thatch layers greater than 1/2" should be removed to avoid restricted water entry into the root zone, resulting in drought stress.

Several turfgrass pathogens can survive in the thatch layer, including those that cause summer patch, leaf spot, and melting-out diseases. Bermudagrass, Kentucky bluegrass, and kikuyugrass produce more thatch than most other turfgrasses and require regular dethatching. Equipment rental businesses often carry dethatching (verticutting) machines that are specifically designed to remove thatch from home lawns.</p>
      <h1 class="display-4">Garden and landscape soil cultivation techniques</h1>
  <p class="lead">Cultivation in the landscape garden is basically digging in the dirt. A pretty simple process, but one that also causes some confusion.</p>
      <h1 class="display-4">Basic digging</h1>
  <p class="lead">Basic digging is just lifting a shovel full of dirt, turning it over and chopping it up. Once the soil is turned over, soil amendments such as organic matter can be incorporated into the turned-over soil.

One variation of digging is to use a fork. This is especially good for extremely rocky or mostly clay soils.</p>
      <h1 class="display-4">Single digging</h1>
  <p class="lead">When using a shovel or fork, there are a couple of techniques to efficiently work through the task.

Single digging is a process efficiently covering the area to a uniform standard. It's really very simple: mentally divide the area into strips. Dig a small trench (about 12" wide, and a spade’s depth). Place the soil to one side, leaving the trench empty. Next, move to the next strip adjoining the first dug out trench. Lift the same amount of soil from this strip, and drop it back into the original trench, breaking up the clumps as you go. Continue on with this lift and move process until the entire area has been worked. At the end, the final trench is filled with the soil that left from the first trench.

As much as possible avoid walking on the newly turned soil. Once the entire area has been turned, add soil amendments evenly over the entire area and using a fork, work this organic matter into the soil.</p>
      <h1 class="display-4">Double digging</h1>
  <p class="lead">This follows the same method as single digging, but after removing each trench, the soil below is turned before filling back up with soil from the next strip. This process cultivates the subsoil area as well as the topsoil, but without mixing the 2 different soil-types together. If organic matter is routinely added each year, you may want to mix the two soil types together creating an even deeper topsoil layer.</p>
      <h1 class="display-4">Surface cultivation</h1>
  <p class="lead">For soils that are not compacted, without problem weeds, and which already have good organic matter, shallow cultivation may be enough. This is the ideal method to use and the ultimate goal you'll be trying to achieve after using any of the digging processes. Surface cultivation is using a tined-rake, or hoe and doesn't disturb the soil's structure below about 2 - 3" deep.</p>
      <h1 class="display-4">When not to dig</h1>
  <p class="lead">Never dig when the soil is overly moist as this can can damage the soil's structure. Roto-tilling the soil every year will create a smeared, impermeable hard pan just below the depth of the roto-tiller's tines. Deep roto-tilling annually, in the long term, ruins the soil's structure and should be avoided. It is better to do a one-time deep roto-tilling, incorporate organic matter, till that in and then plant. In following years, only do a surface tilling.</p>
      <h1 class="display-4">The ‘no-dig’ approach</h1>
  <p class="lead">On soils with good soil structure and adequate organic matter already incorporated, digging is often not necessary. Mulching over the soil in layers of organic matter to a depth of 3" — 6" should be sufficient to maintain a healthy, organic-rich top-soil. The deeper the mulch, the better it will keep down weeds. At planting time, the mulch is raked away for planting and seed sowing. Slugs can be a problem in damp mulches.</p>


</div>
<!-------------footer---------->
  <footer>
<hr color="black">
  <p>
  <a href="https://www.facebook.com/" class="fa fa-facebook"></a>
  <a href="https://www.whatsapp.com/" class="fa fa-whatsapp"></a>
  <a href="https://instagram.com/" class="fa fa-instagram"></a>
  <a href="https://twitter.com/" class="fa fa-twitter"></a>
  </p>

<br>
  <div class="container">
    <div class="row">
               <div class="col-md-12 col-sm-12">
                    <div style="color:white;"class="wow fadeInUp footer-copyright">
                         <p>Made in India <br>
                         Copyright &copy;   2021 Soil Prism </p>
                    </div>
               </div>
    </div>
  </div>
</footer>
  </body>
</html>