<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>coffee</title>
    <style type="text/css">
     .bg-img {
    /* The image used */
    background-image: url("");

    /* Control the height of the image */
    min-height: 610px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 .heading{
  font-size: 20px;
 }
 .button {
  display:block;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 10px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}
.button1 {
  width: 250px;
  background-color: white;
  color: black;
  border: 4px solid #00008B;
}

.button1:hover {
  background-color: #00008B;
  color: white;
}
</style>
</head>
<body>
<div class="bg-img">
        <a href="more"><p><div style="text-align:center" class="button button1"><div style="font-size: 20px;"><b>Get Help</b></div></div></a></p>

    <div class="heading">
        <h1>COFFEE</h1>
        <p>In India, coffee is traditionally grown in the Western Ghats spread over Karnataka, Kerala and Tamil Nadu. Coffee cultivation is also being expanding rapidly in the nontraditional areas of Andhra Pradesh and Odisha as well as in the North East states. Coffee is predominantly an export oriented commodity and 65% to 70% of coffee produced in the country is exported while the rest is consumed within the country. Indian coffee has created a niche for itself in the international market and the Indian Coffees are earning high premium, particularly Indian Robusta which is highly preferred for its good blending quality. Arabica Coffee from India is also well received in the international market.</p>
        <div class="heading"><b>Coffee Cultivation / Agronomic Practices</b></div><br>
        <div class="heading">Nursery</div>
        <ul>
            <li>Procure seeds only from authorized sources.</li>
            <li>Do not procure seeds from coffee berry borer infected areas.</li>
            <li>Sow the seeds soon after procurement as they have short viability.</li>
        </ul>
        <div class="heading">Shade Management</div>
        <ul>
            <li>Avoid indiscriminate timber extraction for short term gains.</li>
            <li>Maintain a two-tier shade canopy consisting of temporary dadaps and permanent shade trees like Ficus, Albizzia, Jackfruit etc.</li>
            <li>At higher altitudes, temporary shade trees may be phased out once the coffee is well established.</li>
            <li>Regulate shade every year instead of once in 3-4 years to minimise damage to coffee bushes.</li>
        </ul>
        <div class="heading">Soil & Water Conservation</div>
        <p>Conservation of soil and moisture is very crucial in coffee plantations.</p>
        <p>Problems related to soil conservation</p>
        <ul>
            <li>Monsoon season: Soil erosion due to sloping terrain</li>
            <li>Post-monsoon season: Lack of moisture (i.e., drought) can adversely affect the normal growth of coffee.</li>
        </ul>
        <p>Prevention of soil erosion:</p>
        <ul>
            <li>Contour planting/terracing in moderate to steep slopes.</li>
            <li>Planting of soil binding grasses like Vetiver, Paspalum etc. across the slope at suitable intervals.</li>
        </ul>
        <div class="heading">Soil enrichment</div>
        <ul>
            <li>Growing of leguminous green manure crops like Crotalaria, Tephrosia, cowpea, horsegram etc. in the initial years of planting may be adopted.</li>
            <li>Green manure crops should be sown during May-June and incorporated into soil before flowering.</li>
        </ul>
<div class="heading">Bush Management</div>
        <ul>
            <li>Proper bush management is essential to minimise year-to-year yield fluctuations and also facilitating effective management of pests and diseases.</li>
            <li>Light pruning every year after harvest is essential to maintain the framework of the plants.</li>
            <li>Handling, centering and desuckering during June-July and if necessary during Sept.-Oct. help in maintaining adequate cropping wood.</li>
            <li>Rejuvenation of disease susceptible/ off type plants by top working would ensure uniformity and increased productivity.</li>
        </ul>
        <div class="heading">Nutrition Management</div>
        <ul>
            <li>Maintaining optimum pH by liming is essential requirement for nutrition management in coffee. If proper pH is not maintained, the applied fertilizers will not be utilised by the plants effectively.</li>
            <li>Soil testing at least once in 2-3 years should be mandatory for lime and fertilizer applications.</li>
            <li>Use agricultural lime analysing 80% calcium carbonate. November is the best period for lime application. Application of dolomite lime once in a while in rotation is beneficial.</li>
            <li>Application of bulky organic manures like FYM or compost @ 5 tonnes/ha. once in two years would improve the soil condition and better utilization of applied fertilizers.</li>
            <li>The recommended dose of fertilizers should be applied in three splits (post-blossom, pre-monsoon, post-monsoon) by adopting drip circle method. In sloppy areas, the fertilizers should be applied in the upper half of the drip circle.</li>
        </ul>
        <div class="heading"><b>Recommendation</b></div>
        <ul>
            <li>Thorough soil preparation prior to planting, and maintenance of pH between 5.2- 6.3, good rooting and that nutrients are readily available. It is therefore important to balance the cations in the soil at this stage</li>
        </ul>
        <marquee><a href="https://vikaspedia.in/agriculture/crop-production/package-of-practices/plantation-crops/coffee">TO KNOW MORE ABOUT COFFEE CLICK HERE....</a></marquee>

    </div>
</div>
</body>
</html>