<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Crop</th>
      <th>State</th>
      <th>Season</th>
      <th>Cost of Cultivation</th>
      <th>Cost of Production</th>
      <th>Yield</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>9</th>
      <td>COTTON</td>
      <td>Haryana</td>
      <td>KHARIF</td>
      <td>44018.18</td>
      <td>2127.35</td>
      <td>19.90</td>
    </tr>
    <tr>
      <th>39</th>
      <td>RAPESEED AND MUSTARD</td>
      <td>Haryana</td>
      <td>RABI</td>
      <td>27507.54</td>
      <td>1251.12</td>
      <td>19.94</td>
    </tr>
  </tbody>
</table>