<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>CROP</th>
      <th>SOIL TYPE1</th>
      <th>SEASON</th>
      <th>TEMPERATURE</th>
      <th>RAINFALL</th>
      <th>SUGGESTION</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ARHAR</td>
      <td>Black Soil</td>
      <td>Rabi</td>
      <td>30-350C</td>
      <td>60-65cm</td>
      <td>The seed rate and fertilizer doses to the sesamum crop should be reduced to half of the recommended for pure sesamum crop.</td>
    </tr>
    <tr>
      <th>1</th>
      <td>COTTON</td>
      <td>Black Soil</td>
      <td>Kharif</td>
      <td>90C</td>
      <td>85-110cm</td>
      <td>Good drainage system to remove excess moisture</td>
    </tr>
    <tr>
      <th>2</th>
      <td>GRAM</td>
      <td>Black Soil</td>
      <td>Rabi</td>
      <td>25-30C</td>
      <td>40-50cm</td>
      <td>Foliar spray of DAP 2% on 30 and 45 DAS to enhance the grain yield of Gram</td>
    </tr>
    <tr>
      <th>8</th>
      <td>SUGARCANE</td>
      <td>Black Soil</td>
      <td>Kharif</td>
      <td>20-26C</td>
      <td>150cm</td>
      <td>Sugarcane intercropping with short duration vegetable crops like Cabbage &amp; cauliflower were found to be highly beneficial for the farmers. In areas of adequate irrigation, sowing one row of soybean or black gram helps to increase the soil fertility and sugarcane yield.</td>
    </tr>
  </tbody>
</table>