<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Crop</th>
      <th>State</th>
      <th>Season</th>
      <th>Cost of Cultivation</th>
      <th>Cost of Production</th>
      <th>Yield</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>45</th>
      <td>WHEAT</td>
      <td>Madhya Pradesh</td>
      <td>RABI</td>
      <td>22489.75</td>
      <td>810.25</td>
      <td>23.59</td>
    </tr>
    <tr>
      <th>46</th>
      <td>WHEAT</td>
      <td>Punjab</td>
      <td>RABI</td>
      <td>35423.48</td>
      <td>804.80</td>
      <td>39.83</td>
    </tr>
    <tr>
      <th>47</th>
      <td>WHEAT</td>
      <td>Uttar Pradesh</td>
      <td>RABI</td>
      <td>31902.74</td>
      <td>769.84</td>
      <td>34.99</td>
    </tr>
    <tr>
      <th>48</th>
      <td>WHEAT</td>
      <td>Rajasthan</td>
      <td>RABI</td>
      <td>29876.36</td>
      <td>683.58</td>
      <td>37.19</td>
    </tr>
  </tbody>
</table>