<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Crop</th>
      <th>State</th>
      <th>Season</th>
      <th>Cost of Cultivation</th>
      <th>Cost of Production</th>
      <th>Yield</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>10</th>
      <td>GRAM</td>
      <td>Rajasthan</td>
      <td>RABI</td>
      <td>12610.85</td>
      <td>1691.66</td>
      <td>6.83</td>
    </tr>
    <tr>
      <th>11</th>
      <td>GRAM</td>
      <td>Madhya Pradesh</td>
      <td>RABI</td>
      <td>16873.17</td>
      <td>1551.94</td>
      <td>10.29</td>
    </tr>
    <tr>
      <th>12</th>
      <td>GRAM</td>
      <td>Uttar Pradesh</td>
      <td>RABI</td>
      <td>21618.43</td>
      <td>1882.68</td>
      <td>10.93</td>
    </tr>
    <tr>
      <th>13</th>
      <td>GRAM</td>
      <td>Maharashtra</td>
      <td>RABI</td>
      <td>18679.33</td>
      <td>2277.68</td>
      <td>8.05</td>
    </tr>
    <tr>
      <th>14</th>
      <td>GRAM</td>
      <td>Andhra Pradesh</td>
      <td>RABI</td>
      <td>26762.09</td>
      <td>1559.04</td>
      <td>16.69</td>
    </tr>
    <tr>
      <th>35</th>
      <td>RAPESEED AND MUSTARD</td>
      <td>Madhya Pradesh</td>
      <td>RABI</td>
      <td>17705.93</td>
      <td>1279.60</td>
      <td>12.94</td>
    </tr>
    <tr>
      <th>36</th>
      <td>RAPESEED AND MUSTARD</td>
      <td>Rajasthan</td>
      <td>RABI</td>
      <td>19259.84</td>
      <td>1341.29</td>
      <td>13.54</td>
    </tr>
    <tr>
      <th>37</th>
      <td>RAPESEED AND MUSTARD</td>
      <td>Uttar Pradesh</td>
      <td>RABI</td>
      <td>22560.30</td>
      <td>1595.56</td>
      <td>13.57</td>
    </tr>
    <tr>
      <th>38</th>
      <td>RAPESEED AND MUSTARD</td>
      <td>Gujarat</td>
      <td>RABI</td>
      <td>19083.55</td>
      <td>1610.40</td>
      <td>11.61</td>
    </tr>
    <tr>
      <th>39</th>
      <td>RAPESEED AND MUSTARD</td>
      <td>Haryana</td>
      <td>RABI</td>
      <td>27507.54</td>
      <td>1251.12</td>
      <td>19.94</td>
    </tr>
    <tr>
      <th>45</th>
      <td>WHEAT</td>
      <td>Madhya Pradesh</td>
      <td>RABI</td>
      <td>22489.75</td>
      <td>810.25</td>
      <td>23.59</td>
    </tr>
    <tr>
      <th>46</th>
      <td>WHEAT</td>
      <td>Punjab</td>
      <td>RABI</td>
      <td>35423.48</td>
      <td>804.80</td>
      <td>39.83</td>
    </tr>
    <tr>
      <th>47</th>
      <td>WHEAT</td>
      <td>Uttar Pradesh</td>
      <td>RABI</td>
      <td>31902.74</td>
      <td>769.84</td>
      <td>34.99</td>
    </tr>
    <tr>
      <th>48</th>
      <td>WHEAT</td>
      <td>Rajasthan</td>
      <td>RABI</td>
      <td>29876.36</td>
      <td>683.58</td>
      <td>37.19</td>
    </tr>
    <tr>
      <th>53</th>
      <td>BARLEY</td>
      <td>Rajasthan</td>
      <td>RABI</td>
      <td>25004.90</td>
      <td>812.00</td>
      <td>225.90</td>
    </tr>
    <tr>
      <th>54</th>
      <td>BARLEY</td>
      <td>Himachal Pradesh</td>
      <td>RABI</td>
      <td>21893.01</td>
      <td>36.00</td>
      <td>20.40</td>
    </tr>
    <tr>
      <th>55</th>
      <td>BARLEY</td>
      <td>Uttar Pradesh</td>
      <td>RABI</td>
      <td>22338.00</td>
      <td>455.40</td>
      <td>151.00</td>
    </tr>
    <tr>
      <th>60</th>
      <td>COFFEE</td>
      <td>Karnataka</td>
      <td>RABI</td>
      <td>1100000.00</td>
      <td>80000.00</td>
      <td>8.10</td>
    </tr>
    <tr>
      <th>61</th>
      <td>COFFEE</td>
      <td>Kerala</td>
      <td>RABI</td>
      <td>45000.00</td>
      <td>14470.09</td>
      <td>20.80</td>
    </tr>
    <tr>
      <th>62</th>
      <td>COFFEE</td>
      <td>Tamil Nadu</td>
      <td>RABI</td>
      <td>25023.67</td>
      <td>65000.00</td>
      <td>6.40</td>
    </tr>
    <tr>
      <th>63</th>
      <td>TURMERIC</td>
      <td>Tamil Nadu</td>
      <td>RABI</td>
      <td>45000.00</td>
      <td>4000.00</td>
      <td>12.00</td>
    </tr>
    <tr>
      <th>64</th>
      <td>TURMERIC</td>
      <td>Maharashtra</td>
      <td>RABI</td>
      <td>309138.55</td>
      <td>94.27</td>
      <td>38.01</td>
    </tr>
    <tr>
      <th>65</th>
      <td>TURMERIC</td>
      <td>Odisha</td>
      <td>RABI</td>
      <td>8000.90</td>
      <td>18.10</td>
      <td>58.50</td>
    </tr>
    <tr>
      <th>66</th>
      <td>TURMERIC</td>
      <td>Gujarat</td>
      <td>RABI</td>
      <td>204737.00</td>
      <td>283399.80</td>
      <td>19.71</td>
    </tr>
    <tr>
      <th>70</th>
      <td>POTATO</td>
      <td>Uttar Pradesh</td>
      <td>RABI</td>
      <td>30000.00</td>
      <td>60.70</td>
      <td>30.00</td>
    </tr>
    <tr>
      <th>71</th>
      <td>POTATO</td>
      <td>West Bengal</td>
      <td>RABI</td>
      <td>60753.00</td>
      <td>100000.00</td>
      <td>241.50</td>
    </tr>
    <tr>
      <th>72</th>
      <td>POTATO</td>
      <td>Punjab</td>
      <td>RABI</td>
      <td>100000.00</td>
      <td>157302.00</td>
      <td>617.50</td>
    </tr>
    <tr>
      <th>73</th>
      <td>RUBBER</td>
      <td>Kerala</td>
      <td>RABI</td>
      <td>37500.00</td>
      <td>0.23</td>
      <td>354.00</td>
    </tr>
    <tr>
      <th>74</th>
      <td>RUBBER</td>
      <td>Meghalaya</td>
      <td>RABI</td>
      <td>14000.00</td>
      <td>NaN</td>
      <td>16.30</td>
    </tr>
    <tr>
      <th>75</th>
      <td>RUBBER</td>
      <td>Assam</td>
      <td>RABI</td>
      <td>450000.00</td>
      <td>13000.00</td>
      <td>17.96</td>
    </tr>
    <tr>
      <th>76</th>
      <td>JUTE</td>
      <td>West Bengal</td>
      <td>RABI</td>
      <td>99319.52</td>
      <td>104.83</td>
      <td>78.60</td>
    </tr>
    <tr>
      <th>77</th>
      <td>JUTE</td>
      <td>Assam</td>
      <td>RABI</td>
      <td>61467.14</td>
      <td>861.46</td>
      <td>73.38</td>
    </tr>
    <tr>
      <th>78</th>
      <td>JUTE</td>
      <td>Bihar</td>
      <td>RABI</td>
      <td>2740.25</td>
      <td>1280.02</td>
      <td>15.71</td>
    </tr>
  </tbody>
</table>