<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>turmeric</title>
    <style type="text/css">
     .bg-img {
    /* The image used */
    background-image: url("");

    /* Control the height of the image */
    min-height: 610px;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
 .heading{
  font-size: 20px;
 }
 .button {
  display:block;
  border: none;
  color: white;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 3px 10px;
  transition-duration: 0.5s;
  cursor: pointer;
  border-radius: 30px;
  float: right;
}
.button1 {
  width: 250px;
  background-color: white;
  color: black;
  border: 4px solid #00008B;
}

.button1:hover {
  background-color: #00008B;
  color: white;
}
</style>
</head>
<body>
<div class="bg-img">
        <a href="more"><p><div style="text-align:center" class="button button1"><div style="font-size: 20px;"><b>Get Help</b></div></div></a></p>

    <div class="heading">
        <h1>TURMERIC</h1>
        <p>Turmeric (Curcuma longa) (Family: Zingiberaceae) is used as condiment, dye, drug and cosmetic in addition to its use in religious ceremonies. India is a leading producer and exporter of turmeric in the world. Andhra Pradesh, Tamil Nadu, Orissa, Karnataka, West Bengal, Gujarat, Meghalaya, Maharashtra, Assam are some of the important states cultivates turmeric, of which, Andhra Pradesh alone occupies 35.0% of area and 47.0% of production.</p>
        <div class="heading"><b>Climate and soil</b></div><br>
        <p>Turmeric can be grown in diverse tropical conditions from sea level to 1500 m above sea level, at a temperature range of 20-35oC with an annual rainfall of 1500 mm or more, under rainfed or irrigated conditions. Though it can be grown on different types of soils, it thrives best in well-drained sandy or clay loam soils with a pH range of 4.5-7.5 with good organic status.</p>
        <div class="heading"><b>Cultivation</b></div>
        <ul>
            <li><div class="heading">Preparation of land</div>
        <p>The land is prepared with the receipt of early monsoon showers. The soil is brought to a fine tilth by giving about four deep ploughings. Hydrated lime @ 500 kg/ha has to be applied for laterite soils and thoroughly ploughed. Immediately with the receipt of pre-monsoon showers, beds of 1.0 m width, 15 cm height and of convenient length are prepared with spacing of 50 cm between beds. Planting is also done by forming ridges and furrows.</p></li>
       <li><div class="heading">Planting</div>
           <p>In Kerala and other West Coast areas where the rainfall begins early, the crop can be planted during April-May with the receipt of pre-monsoon showers.</p></li>
        <li><div class="heading">Seed material</div>
            <p>Whole or split mother and finger rhizomes are used for planting and well developed healthy and disease free rhizomes are to be selected. Small pits are made with a hand hoe on the beds with a spacing of 25 cm x 30 cm. Pits are filled with well decomposed cattle manure or compost, seed rhizomes are placed over it then covered with soil. The optimum spacing in furrows and ridges is 45-60 cm between the rows and 25 cm between the plants. A seed rate of 2,500 kg of rhizomes is required for planting one hectare of turmeric.</p></li>
        <li><div class="heading">Manuring and fertilizer application</div>
            <p>Farmyard manure (FYM) or compost @ 30-40 t/ha is applied by broadcasting and ploughed at the time of preparation of land or as basal dressing by spreading over the beds or in to the pits at the time of planting. Fertilizers @ 60 kg N, 50 kg P2O5 and 120 kg K2O per hectare are to be applied in split doses as given in Table 2. Zinc @ 5 kg/ha may also be applied at the time of planting and organic manures like oil cakes can also be applied @ 2 t/ha. In such case, the dosage of FYM can be reduced. Integrated application of coir compost (@ 2.5 t/ha) combined with FYM, biofertilizer (Azospirillum) and half recommended dose of NPK is also recommended.</p></li>
        <li><div class="heading">Mulching</div>
            <p>The crop is to be mulched immediately after planting with green leaves @ 12-15 t/ha. Mulching may be repeated @ 7.5 t/ha at 45 and 90 days after planting after weeding, application of fertilizers and earthing up.</p></li>
        <li><div class="heading">Weeding and irrigation</div>
            <p>Weeding has to be done thrice at 60, 90 and 120 days after planting depending upon weed intensity. In the case of irrigated crop, depending upon the weather and soil conditions, about 15 to 23 irrigations are to be given in clayey soils and 40 irrigations in sandy loams.</p></li>
        <li><div class="heading">Mixed cropping</div>
            <p>Turmeric can be grown as an intercrop in coconut and arecanut plantations. It can also be raised as a mixed crop with chillies, colocasia, onion, brinjal and cereals like maize, ragi, etc.</p></li>
        <li><div class="heading">Harvesting</div>
        <p>Depending upon the variety, the crop becomes ready for harvest in 7-9 months after planting during January-March. Early varieties mature in 7-8 months, medium varieties in 8-9 months and late varieties after 9 months.</p>
            <p>The land is ploughed and the rhizomes are gathered by hand picking or the clumps are carefully lifted with a spade. The harvested rhizomes are cleared of mud and other extraneous matter adhering to them.</p></li></ul>


        <marquee><a href="https://vikaspedia.in/agriculture/crop-production/package-of-practices/spices/turmeric">TO KNOW MORE ABOUT TURMERIC CLICK HERE....</a></marquee>

    </div>
</div>
</body>
</html>